@{
    ViewData["Title"] = "LEGOPro";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <br />
    <h3>Welcome to LEGOPro, your ultimate destination for expert LEGO consulting services!</h3>
    <br />
    <br />
    <img src="~/img/lego1.png" />
    <br />
    <br />
    <p>
        As a fervent aficionado 
        of all things LEGO, especially the captivating universe of LEGO Star Wars, I'm thrilled to extend my knowledge 
        and passion to fellow enthusiasts like you. Whether you're a novice builder or a seasoned expert, LEGOPro is 
        your trusted partner in unleashing your creativity and imagination through the magic of LEGO.
    </p>
    <p>
        At LEGOPro, we firmly believe that playing with LEGO goes beyond mere entertainment—it's a gateway to a world
        of cognitive benefits and personal growth. From honing problem-solving skills to fostering mindfulness and enhancing
        spatial awareness, the mental rewards of LEGO engagement are boundless. Through our consulting services, we aim to
        not only inspire your next masterpiece but also nurture your cognitive development and creativity along the way.
    </p>
    <img src="~/img/lego3.webp"  width="600px"/>
    <br />
    <br />
    <p>
        With LEGOPro, you have access to personalized guidance, innovative ideas, and expert advice tailored to your unique
        needs and aspirations. Whether you're embarking on a new project, seeking inspiration for your next build, or simply
        looking to explore the vast potential of LEGO, our dedicated team is here to support you every step of the way.
    </p>
    <p>
        Ready to elevate your LEGO experience to new heights? Click "Get a Quote!" to discover the affordability and value
        of a consultation with LEGOPro. Let's embark on a journey of creativity, exploration, and endless possibilities together!
    </p>
</div>
